html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Roboto Slab", serif;
  }

.global {
    height:100%
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
}

h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.1em;
    color: #333;
}

.quizz {
    display: flex;
}

#learning_paths {
    height: 100%;
    background-color: #EFEFEF;
    font-size: 0.9em;
}




.answers-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

#error-message {
    margin-top: 20px;
    font-weight: bold;
    color: red;
}
#correct-answer {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}

.pure-checkbox span {
    display: inline-block;
    margin-left: 3px
}

.button-cont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-primary {
    background: rgb(44,55,44);
    border-radius: 5px;
    color: #FFF;
    /* this is a light blue */
}